/* 
* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; } */

html { width: 100%; height:auto; overflow: auto;}

body { 
	width: 100%;
	height:auto;
	font-family: 'Poppins', sans-serif;
	background: #282828;
	overflow: auto;
	}

main{
	margin: 5%;
}
	
a {
    text-decoration: none;
    text-align: center;
}
p {
    color: #ffffff;
    text-align: center;
}

.register-box{ 
	border: #ffffff;
	border: 2px solid #545454;
	background-color: #0e0e0e;
	padding: 15px;
	max-width: 500px;
	border-radius: 15px;
	justify-self: center;
}
.register-box h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }
.container {
    margin-top: 10rem;
	text-align: center;
}
.container h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }
input { 
	width: 100%; 
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }

/* General Styles */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centers the logo and menu icon vertically */
  width: 100%;
  background-color: #252525;
  color: rgb(226, 226, 226);
  padding: 10px 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative; /* Ensures proper positioning for absolute elements */
}

.nav .logo {
  font-size: 3rem;
  font-weight: bold;
}

ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav li {
  margin: 0 15px;
}

.nav a {
  text-decoration: none;
  color: rgb(225, 225, 225);
  font-weight: 500;
  font-size: 1.2rem;
}

.nav a:hover {
  color: #1ED760;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  transition: color 0.3s ease;
}

/* Menu Icon (Visible on mobile) */
.menu-icon {
  display: none; /* Hidden by default */
  font-size: 2rem;
  cursor: pointer;
  color: white;
}




.add_user_body{
  display: flex;
		align-items: center; /* Vertically center */
		justify-content: center; /* Horizontally center */
		margin: 0; /* Remove default margin */
}

.login-body
	{
		height: 100vh; /* Full viewport height */
		display: flex;
		align-items: center; /* Vertically center */
		justify-content: center; /* Horizontally center */
		margin: 0; /* Remove default margin */
		font-family: 'Poppins', sans-serif; /* Apply Poppins font */
		background-color: #166d3b;
    background-color: #99ccff;
    background-image:
		 linear-gradient(147deg, #166d3b 0%, #000000 74%);

		 
    background-size: 200% 200%; /* Enlarges the gradient canvas */
    animation: animateGradient 8s ease infinite; /* Infinite animation */
}

/* Keyframes for animating the background */
@keyframes animateGradient {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 50% 50%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 50% 50%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.logout{
	margin: 0 15px; /* Adds consistent spacing between navigation items */
    display: flex;
    align-items: center; /* Centers items vertically */
}
.logout:hover {
    color: #de1010; /* Optional: Change link color on hover */
	text-decoration: underline;
	text-decoration-thickness: 2px; 

    transition: width 2s ease; /* Smooth animation effect */
	

}
.logo{
	font-family: 'Monoton';
  color: #1ED760;
  font-size: 2.5rem;
}

.bg-logo{
	position:absolute;
	top: 2px;
	right: 5px;
	font-family: 'Monoton';
  color: #1ED760;
  
	font-size: 5rem;
	z-index: -1;
  }

h2{
	color: #f5f5f5;
	font-size: 1.4rem;
	
}

.page-title{
	font-family: 'Poppins', sans-serif;
font-weight: 700;
color:  #f5f5f5;
}

.card_box{
	border-radius: 20px;
	max-width: 500px;
	height: 300px;
	/* width: 200px; */
	color: #f5f5f5;
	border: 2px solid #1ED760;
	
}

.card_box:hover{
	box-shadow:
    0 0 20px 12px #b5ebc8,  /* inner white */
    
}
.selection_box{
	border-radius: 20px;
	max-width: 500px;
	height: 300px;
	width: 200px;
	color: #f5f5f5;
	border: #ffffff;
	border: 2px solid #1ED760;
}

.selection_box:hover{
	box-shadow:
    0 0 20px 12px #b5ebc8,  /* inner white */
    0 0 40px 20px #1ED760, /* middle magenta */
    0 0 60px 40px #0ff; /* outer cyan */
}

.art {
	background-color: #282828;
    animation: rolling-disk 7.5s 0.25s linear infinite;
}


@keyframes rolling-disk {
    0%      {transform: rotate(0);}
    100%    {transform: rotate(1turn);}
}



  .display_user {
    display: flex;
    flex-wrap: wrap; /* Allows items to wrap to the next row */
    gap: 16px; /* Space between cards */
    justify-content: center; /* Center align the cards */
	
  }

  .user-preview {
    flex: 1 1 calc(50% - 32px); /* Each card takes up 50% of the row minus the gap */
    max-width: 48%; /* Ensures the width does not exceed half */
	border: 2px solid #1ED760;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
	align-items: start;
  }


  .user-img{
              height: 200px;
               position: relative; 
                background-image: url('../assests/img/user.jpg');
                background-size: cover; 
                background-position: center; 
                background-repeat: no-repeat;
  }

  .artist-img{
    height: 200px;
     position: relative; 
      background-image: url('../assests/img/artist.jpg');
      background-size: cover; 
      background-position: center; 
      background-repeat: no-repeat;
}
  .user-title {
    font-size: 2rem;
    font-weight:bold;
    color: #f5f5f5;
  }

  .music-title{
    font-size: 2rem;
    font-weight: normal;
  }

  .user-subtitle {
    font-size: 1.8rem;
    color: #666;
  }

  .user-details {
    font-size: 1rem;
    color: #666;
  }

  .delete img{
    cursor: pointer; 
    width: 40px; 
    height: auto;
    color: #b60000;
    margin-right: 5px;
  }

  .delete img:hover{
    
    transform: rotate(25deg);

  }
  .edit{
    margin-right: 10px;
  }
  .edit img:hover{
    
    transform: rotate(-25deg);

  }

  .edit img{
    position: relative;
    cursor: pointer; 
    width: 40px; 
    height: auto;
    color: #0021b6;
    margin-right: 5px;

  }

  .icon{
    position: relative;
    cursor: pointer; 
    width: 20px; 
    height: auto;
    color: #0021b6;
    margin-right: 5px;
  }


  @media (max-width: 768px) {
	html, body{
		overflow: auto; /* Ensure scrolling is enabled */
		height: auto; /* Avoid restricting height */
	}
  .menu-icon {
    display: block; /* Show the menu icon on mobile */
}

.nav-links {
    display: none;
    
}

.nav-links.show {
    display: flex; /* Show the navigation links when toggled */
    flex-direction: column; /* Stack the links vertically */
    position: absolute; /* Position the menu below the nav bar */
    top: 60px; /* Adjust as per your nav height */
    right: 20px;
    background-color: #252525;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.nav li {
    margin: 10px 0; /* Add spacing between stacked links */
}


    .user-preview {
      flex: 1 1 calc(100% - 32px); /* On smaller screens, cards take the full width */
      max-width: 100%; /* Ensures they fit the container */
    }

    .user-title {
      font-size: 1.25rem; /* Adjust title font size for smaller screens */
    }

    .user-subtitle {
      font-size: 1rem; /* Adjust subtitle font size */
    }
	.user-details {
		font-size: 0.9rem; /* Reduce detail font size */
	  }
    .icon{
      
      width: 20px; 
      height: auto;
      
    }
  }

  @media (max-width: 480px) {
	html, body{
		overflow: auto; /* Ensure scrolling is enabled */
		height: auto; /* Avoid restricting height */
	}
  .menu-icon {
    display: block; /* Show the menu icon on mobile */
}

.nav-links {
    display: none ; 
    
}

.nav-links.show {
    display: flex; 
    flex-direction: column; /* Stack the links vertically */
    position: absolute; /* Position the menu below the nav bar */
    top: 60px; /* Adjust as per your nav height */
    right: 20px;
    background-color: #252525;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.nav li {
    margin: 10px 0; /* Add spacing between stacked links */
}


    .user-preview {
      padding: 12px; /* Reduce padding on smaller devices */
    }

    .user-title {
      font-size: 1.2rem; /* Further reduce font size for very small screens */
    }

    .user-subtitle {
      font-size: 0.9rem; /* Adjust subtitle font size */
    }
	.user-details {
		font-size: 0.8rem; /* Reduce detail font size */
	  }
    .icon{
      
      width: 20px; 
      height: auto;
      
    }
  }


  