{% extends "base.html" %} {% block content %} 
<div style="display: flex; justify-content: space-between; justify-items: center; padding: 20px;">
  
<h1 class="page-title">Artists</h1>
<div><a class="btn btn-success" href="{{ url_for('add_artist') }}">Add Artist</a>
</div>
</div>

{% with messages= get_flashed_messages()%} {%if messages%}
<p>{{messages[-1]}}</p>
{%endif%} {%endwith%}
  <p class="mb-4">
    {% if current_page > 1 %}
      <a class="btn btn-small btn-outline-dark" href="{{ url_for('get_all_artists', page=current_page - 1) }}">Previous</a>
    {% endif %}
  
    {% if current_page < total_pages %}
    <a class="btn btn-small btn-outline-dark" href="{{ url_for('get_all_artists', page=current_page + 1) }}">Next</a>
  {% endif %}
  </p>
<div class="display_user">
        
         {% for artist in all_artists %}
         <div class="user-preview">
           <div class="user-title">{{ artist.name }}</div>
           <hr style="background-color: #058209">

           <div class="user-details mt-2" style="display: flex; justify-content: space-between;"><span><strong>First Release Year:</strong> {{ artist.first_release_year }}</span>
           <span><strong>No. of Albums:</strong> {{ artist.no_of_albums_released}}</span></div>

           <div class="user-details"><strong>Address:</strong> {{ artist.address }}</div>
           <div class="user-details"><strong>Gender:</strong> {{ artist.gender }}</div>
           <div class="user-details"><strong>Date of Birth:</strong> {{ artist.dob }}</div>
           <hr style="background-color: #058209">
           <p style="display: flex; justify-content: space-between;">
            <span><a class="edit" href="{{ url_for('edit_artist',artist_id=artist.id)}}"><img src="/static/assests/img/eDit.png" alt="edit"></a>
            <a class="delete" href="{{url_for('delete_artist',artist_id=artist.id)}}">
              <img src="/static/assests/img/delete.png" alt="Delete">
            </a>  </span>
    
          <a class="btn btn-outline-light"  href="{{url_for('get_all_musics',artist_id=artist.id)}}">Music</a>

        </p>
      
         </div>
         
         
      </a>
    {% endfor %}
  
    
  </div>
  <p class="mt-4">
    {% if current_page > 1 %}
      <a class="btn btn-small btn-outline-dark" href="{{ url_for('get_all_artists', page=current_page - 1) }}">Previous</a>
    {% endif %}
  
    {% if current_page < total_pages %}
    <a class="btn btn-small btn-outline-dark" href="{{ url_for('get_all_artists', page=current_page + 1) }}">Next</a>
  {% endif %}
  </p>
</div>
{% endblock %}