{% block content %}
<nav class="nav">
  <h3 class="logo">TUNE</h3>
  <div class="menu-icon" onclick="toggleMenu()">&#9776;</div>
  <ul class="nav-links">
    <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
    <li><a href="{{ url_for('get_all_users') }}">Users</a></li>
    <li><a href="{{ url_for('get_all_artists') }}">Artists</a></li>
    <li class="logout"><a href="{{ url_for('logout') }}">Logout</a></li>

  </ul>
  
</nav>
<script>
  function toggleMenu() {
    const navLinks = document.querySelector('.nav-links');
    navLinks.classList.toggle('show');
  }
</script>

{% endblock %}
