
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Music Management Application</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Monoton&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css')}}"
    />
  </head>
<body class=" login-body p-3 " style="overflow: hidden;">
  
<h1 class="bg-logo">TUNE</h1>
    
  <div class="register-box ">
    {% with messages= get_flashed_messages()%} {%if messages%}
      <p>{{messages[-1]}}</p>
      {%endif%} {%endwith%}
    <h1>Register</h1>
    <form action="{{ url_for('register') }}" method="post">
      <div style="display: flex; gap: 5px;">
      <input type="text" name="FirstName" placeholder="FirstName" required="required" />
      <input type="text" name="LastName" placeholder="LastName" required="required" />
    </div>
      <input type="email" name="email" placeholder="Email" required="required" />
      <input type="text" name="Address" placeholder="Address" required="required" />
      <input 
      type="tel" 
      name="Phone" 
      placeholder="Phone Number" 
      required 
      pattern="\d{10}" 
      title="Phone number must be exactly 10 digits" 
  />
  
  
  
      <input
        type="password"
        name="password"
        placeholder="Password"
        required="required"
      />
      <input type="date" name="date_of_birth">
      <label class="text-white">Gender</label>
      <span style="display: flex;" class="text-white">
        <span>
      <input type="radio" id="male" name="gender" value="m">
      <label  for="male">Male</label>
    </span>
    <span>
      <input type="radio" id="female" name="gender" value="f">
      <label for="female">Female</label>
    </span>
    <span>
      <input type="radio" id="others" name="gender" value="o">
      <label for="others">Others</label>
    </span>
    </span>
    <br>
      <button type="submit" class="btn btn-primary btn-block btn-large">
        Sign me up.
      </button>
  <p class="my-3">Already have an account ? <a href="{{url_for('login')}}">LogIn</a></p>

    </form>
  </div>
  

</div>
  

  <script>
    document.querySelector("form").addEventListener("submit", function (event) {
      const phoneInput = document.querySelector('input[name="Phone"]');
      const phoneValue = phoneInput.value;
  
      if (!/^\d{10}$/.test(phoneValue)) {
          alert("Phone number must be exactly 10 digits.");
          event.preventDefault(); 
      }
  });
  </script>

</body>

</html>

